/* 
    Document   : crud
    Created on : May 10, 2011, 9:55:12 PM
    Author     : Anton Raharja
*/

#crud_grid {
	width: 760px;
}

#crud_button_insert {	
	float: none;
}

#crud_button_update {
	padding-right: 5px;
	float: left;
}

#crud_button_delete {
	float: left;
}

#crud_submit_insert, #crud_submit_update, #crud_submit_delete {
	width: 50px;
	height: 26px;
	display: block;
}

#crud_submit_form {
	width: 30px;
	height: 26px;
	float: right;
}

#crud_select {
	float: right;
	padding-left: 5px;
}

#crud_pagination {
	margin-left: 50%;
	margin-right: 50%;
}

#crud_th_index, #crud_th_action {
	width: 5px;
	border: 1px solid #f0f0f0;
	background-color: #fed888;
}

#crud_th_name {
	width: auto;
	border: 1px solid #f0f0f0;
	background-color: #fed888;
}

#crud_th_username {
	width: 70%;
	border: 1px solid #f0f0f0;
	background-color: #fed888;
}

#crud_th_id {
	width: auto;
	border: 1px solid #f0f0f0;
	background-color: #fed888;
}

td {
	border: 1px solid #f0f0f0;		
}
