/* 
    Document   : crud
    Created on : May 10, 2011, 9:55:12 PM
    Author     : Anton Raharja
*/

#crud_button_insert {	
	float: none;
}

#crud_button_update {
	padding-right: 5px;
	float: left;
}

#crud_button_delete {
	float: left;
}

#crud_submit_form {
	width: 30px;
	height: 24px;
	float: none;
}

#crud_submit_insert, #crud_submit_update, #crud_submit_delete {
	width: 50px;
	height: 24px;
	float: none;
}

#crud_select {
	float: left;
}


