/* 
    Document   : home
    Created on : May 5, 2011, 8:53:36 PM
    Author     : Anton Raharja
*/
body {
	background-color: #fff;
	margin: 40px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 14px;
	color: #4F5155;
}

p {
	clear: left;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

h2 {
	color: #444;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

h3 {
	color: #444;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

#menu_box {
	background-color: transparent;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#menu_item {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	float: left;
	padding-right: 10px;
}

